<h1>Games#score</h1>
<p>Los resultados son</p>
<%= @results[:score] %>
<%= @results[:message] %>

<div class="row">
  <p>Tus puntajes</p>
  <% @all_scores.each do |score| %>
  <%= score %>
  <% end %>
<%= link_to "Juega de nuevo", "new" %>
</div>
