// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.containers{

}
.rowi {
  width: 500px;
  margin:0 auto;
  text-align: center;

}

ul {
  list-style-type: none;
}

.egt {
  text-align: center;
}

td{
  text-align: center;
justify-content:center;
}

.tabla {
  text-align: center;
}
